doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/game_board.css')
  script(src='/socket.io/socket.io.min.js')
  script(type='module', src='/javascripts/game_board/main.js')
  title UNO Game Board 

body
  .grid

    // first row

    #left-player-container
      .name#left_player_name
      #left-player-avatar-container
    .buffer

    #top-player.horizontal-hand
      ul.user-cards#top_player_deck

    .top-player-container
      .name#top_player_name
      .avatar#top-player-avatar
    .menu-btn
      img(src='/images/menu_icon.png' alt='')

    // second row

    .left-player.vertical-hand
      ul.user-cards#left_player_deck

    .buffer

    .deck
      // Helper to help align image vertically centered
      span.helper
      img#draw_deck(src='/images/Uno_deck/uno_deck.png' alt='card back')

    .played-stack
      span.helper
      img#turn-direction(src="../images/turn_direction.png")
      img.played-card#played-card-id
      #color-chooser
        button#choose-red(data-color='red')
        button#choose-blue(data-color='blue')
        button#choose-yellow(data-color='yellow')
        button#choose-green(data-color='green')
      //- img.played-card(src=`/images/uno_deck/${cur_card.color}_${cur_card.name}.png` alt='')

    .btn-container
      .uno-btn#uno-btn UNO
    .right-player.vertical-hand
      ul.user-cards#right_player_deck

    // third row
    .buffer
    #bottom-player-container
      .name#main_player_name
      #bottom-player-avatar-container

    .bottom-player.horizontal-hand
      ul.user-cards#main_player_deck

    .callout-container
      .helper
      .callout-btn#callout-btn Callout Player
    //- .buffer
    #right-player-container
      .name#right_player_name
      .avatar#right-player-avatar

