doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/game_board.css')
  script(src='/socket.io/socket.io.min.js')
  script(defer, type='module', src='/javascripts/util.js')
  script(defer, type='module', src='/javascripts/game_board.js')
  title UNO Game Board

body
  input#gameId(type='hidden', value=game_id)
  .grid

    // first row

    .left-player-container
      .name#left_player_name
    .buffer

    .top-player.horizontal-hand
      ul.user-cards#top_player_deck

    .top-player-container
      .name#top_player_name
    .menu-btn
      img(src='/images/menu_icon.png' alt='')

    // second row

    .left-player.vertical-hand
      ul.user-cards#left_player_deck

    .buffer

    .deck
      // Helper to help align image vertically centered
      span.helper
      img#deck(src='/images/Uno_deck/uno_deck.png' alt='card back')

    .played-stack
      span.helper
      img.played-card#played-card-id
      //- img.played-card(src=`/images/uno_deck/${cur_card.color}_${cur_card.name}.png` alt='')

    .btn-container
      .uno-btn UNO
    .right-player.vertical-hand
      ul.user-cards#right_player_deck

    // third row
    .buffer
    .bottom-player-container
      .name#main_player_name

    .bottom-player.horizontal-hand
      ul.user-cards#main_cards

    .buffer
    .right-player-container
      .name#right_player_name
