doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap')
    //- <link rel="preconnect" href="https://fonts.gstatic.com">
    //- <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.blue-deep_purple.min.css')
    link(rel="icon" sizes="16x16" href="../images/uno-icon.png")
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(defer, src='https://code.getmdl.io/1.3.0/material.min.js')
    block stylesheets

  body
    style(type='text/css').
      .mdl-list__item {
          padding: 0px;
      }
    block content
