extends layout

block content
  h1 Lobby Placeholder Page

  each game in games
    .potential-game
      a(href=`/games/join/${game.id}`) Join #{game.id} (Players: #{game.player_count})
  else
    p No games currently available

  button Create game
