body {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12%;
  grid-template-rows: 25% 50% 25% 25%;
  gap: 1px;
  height: 95vh;
}
.grid > div {
  background: #ede7f6;
  /* padding: 1.5rem; */
  /* border-radius: 1rem; */
}

.horizontal-hand {
  grid-column: 3 / 7;
}
.played-stack {
  grid-column: 4 / 6;
}

.deck {
  white-space: nowrap;
}
#deck {
  max-width: 70%;
  max-height: auto;
  vertical-align: middle;
}
/* Helps vertically center images (inline blocks) */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Player A's Hand */
.user-cards {
  padding-top: 2rem;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
}
.user-card {
  max-width: 20%;
  display: inline-block;
}
.user-card img {
  width: 80%;
  display: block;
}
.user-card:not(:last-child) {
  margin-left: -40px;
}
.user-card:last-child {
  margin-left: -40px;
}

/* Vertical hands */
.vertical-hand {
  overflow-x: visible;
  overflow-y: scroll;
}
.user-cards-vertical {
  height: 100%;
  width: fit-content;
}
.user-card-vertical {
  /* max-width: 20%; */
  /* max-height: fit-content; */
  /* max-height: 20%; */
}
.user-card-vertical:not(:last-child) {
  transform: rotate(90deg);
  margin-top: -80px;
}
.user-card-vertical:last-child {
  transform: rotate(90deg);
  margin-top: -80px;
}
.user-card-vertical img {
  width: 80%;
  display: block;
}
