body {
  background: black;
  /* padding-left: 1.5rem; */
  position: relative;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.grid {
  border-radius: 1em;
  box-shadow: 0 0 1.5em #fff;
  background: #136a8a; /* fallback for old browsers */
  background: linear-gradient(to right, #267871, #136a8a);
  display: grid;
  grid-template-columns: 13% 13% 12% 12% 12% 12% 13% 13%;
  grid-template-rows: 20% 60% 20%;
  gap: 1px;
  height: 95vh;
  width: 95vw;
  margin: 1rem auto;

}

.horizontal-hand {
  grid-column: 3 / 7;
}
.played-stack {
  grid-column: 4 / 7;
  filter: drop-shadow(3px 3px 1px black);
}

#turn-direction {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.played-card {
  max-width: 30%;
  max-height: auto;
  vertical-align: middle;
  position: relative;
  left: 36%;
}

.uno-btn {
  grid-column: 7 / 8;
}

.deck {
  white-space: nowrap;
}
#draw_deck {
  max-width: 90%;
  max-height: auto;
  vertical-align: middle;
  filter: drop-shadow(5px 3px 3px black);
}
#draw_deck:hover {
  filter: drop-shadow(0 0 5px yellow);
}

/* Helps vertically center images (inline blocks) */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.bottom-player .user-card img:hover {
  position: relative;
  z-index: 2;
}
.user-card {
  filter: drop-shadow(5px 4px 1px black);
}
/* Horizontal Cards */
.horizontal-hand .user-cards {
  /* padding-top: 2em; */
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  position: relative;
}
.horizontal-hand .user-card {
  height: 85%;
  display: inline-block;
}
.horizontal-hand .user-card img {
  height: inherit;
  width: auto;
  object-fit: contain;
  position: relative;
  /* display: block; */
}
.horizontal-hand .user-card img:hover {
  top: -1em;
}
/* horizontal overlap */
.horizontal-hand .user-card:not(:first-child) {
  margin-left: -20px;
}

/*** Player A's Hand ***/

.bottom-player .user-cards {
  padding-top: 1em;
}

/* Player C's Hand */
.top-player .user-cards {
  padding-top: 2em;
  transform: rotate(180deg);
  overflow-y: visible;
}

/* Vertical Cards */
.vertical-hand .user-cards {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}
.vertical-hand .user-card {
  width: 70%;
  transform: translateX(20px) rotate(90deg);
  /* transform: translateX(20px); */
}
.vertical-hand .user-card img {
  width: inherit;
  /* careful with height here */
  height: auto;
  object-fit: contain;
  display: block;
}
/* vertical overlap */
.vertical-hand .user-card:not(:first-child) {
  margin-top: -80px;
}

/* Player D */
.right-player .user-cards {
  transform: rotate(180deg);
}

/* UNO btn */
.btn-container {
  position: relative;
}

.uno-btn {
  position: absolute;
  bottom: 0;
  box-shadow: 0px 1px 0px 0px #fff6af;
  filter: drop-shadow(0px 0px 3px #ffffff57);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: xx-large;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}

.uno-btn:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.uno-btn:active {
  bottom: -2px;
}

.callout-btn {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  filter: drop-shadow(0px 0px 3px #ffffff57);
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: large;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
  text-align: center;
}
.callout-btn:hover {
  background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color: #a20dbd;
}
.callout-btn:active {
  position: relative;
  bottom: -2px;
}
.menu-btn {
  padding: 1em;
  position: relative;
}
.menu-btn img {
  margin-left: 35px;
  height: 5rem;
  width: 5rem;
  filter: drop-shadow(4px 4px 1px #ffffff57);
}
.menu-btn img:hover {
  filter: drop-shadow(3px 3px 1px #ffffff57);
  position: relative;
  top: 1px;
  left: 1px;
}
.menu-btn img:active {
  filter: none;
  position: relative;
  top: 2px;
  left: 2px;
}

/* Names */
#left-player-container {
  position: relative;
  padding: 1em;
}
#left-player-container .name {
  position: absolute;
  bottom: 0px;
}
.name {
  font-size: xx-large;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  border-radius: 1em;
}
#top-player-container {
  padding: 1em;
}
#top-player-container .name {
}

#bottom-player-avatar-container,
#left-player-avatar-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.avatar {
  height: inherit;
  width: auto;
  object-fit: contain;
  position: relative;
}

#color-chooser {
  visibility: hidden;
  flex-wrap: wrap;
  position: absolute;
  /* vertical-align: bottom; */
  left: 30%;
  top: 80%;
  height: 50px;
  width: 200px;
  /* background-color: purple; */
  z-index: 2;
}

#choose-red {
  border-radius: 1em;
  background-color: red;
  height: 100%;
  width: 25%;
  z-index: 3;
  flex-grow: 1;
}
#choose-blue {
  border-radius: 1em;

  background-color: blue;
  height: 100%;
  width: 25%;
  z-index: 3;
  flex-grow: 1;
}
#choose-green {
  border-radius: 1em;

  background-color: green;
  height: 100%;
  width: 25%;
  z-index: 3;
  flex-grow: 1;
}
#choose-yellow {
  border-radius: 1em;

  background-color: yellow;
  height: 100%;
  width: 25%;
  z-index: 3;
  flex-grow: 1;
}
