.container {
  min-height: 60vh;
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: 3fr 5fr 3fr;
      grid-template-columns: 3fr 5fr 3fr;
  grid-gap: 2rem;
  max-width: 100%;
  min-width: 0;
  margin: 0 5%;
}

.container .lobby-section-block {
  padding: 1rem;
  min-height: 0;
  overflow: hidden;
}

.container .lobby-section-block.side-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 1rem 1rem 1rem;
}

.container .lobby-section-block.side-block img.side-block-icon {
  position: absolute;
  top: 0;
  height: 6rem;
  margin-top: 1rem;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container .lobby-section-block.side-block .side-block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  padding: 4rem 1rem 1rem 1rem;
  background: white;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
}

.container .lobby-section-block.side-block .side-block-box#message-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60vh;
  overflow: scroll;
  background: #f6f8f8;
  border-radius: 5px;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-avatar {
  float: left;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  min-height: 2rem;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-avatar img.message-display-user-avatar-img {
  max-width: 100%;
  max-height: 100%;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0.5rem;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-name {
  font-size: 1rem;
  color: gray;
  margin: 0 0 0.2rem 0;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-name.message-user-name-right {
  text-align: right;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block.message-user-message-block-right {
  margin-left: auto;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #ffcf54;
  padding: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-all;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message:after,
.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message ::after {
  position: absolute;
  top: 5px;
  content: '';
  width: 0;
  height: 0;
  border-bottom: solid 10px transparent;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-right {
  margin-left: 2rem;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-right:after,
.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-right ::after {
  right: -5px;
  border-left: solid 5px #FEC93E;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-left {
  margin-right: 2rem;
}

.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-left:after,
.container .lobby-section-block.side-block .side-block-box#message-block #ul-message-display-block li.li-message-display-item .message-display-user-name-message .message-display-user-message-block .message-display-user-message.message-user-message-left ::after {
  left: -5px;
  border-right: solid 5px #FEC93E;
}

.container .lobby-section-block.side-block .side-block-box#message-block #message-send-block {
  background: #f6f8f8;
  margin: 1rem 0;
}

.container .lobby-section-block.side-block .side-block-box#message-block #message-send-block #message-send-block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: lightgray;
  padding: 0.5rem;
  border-radius: 5px;
  height: 100%;
}

.container .lobby-section-block.side-block .side-block-box#message-block #message-send-block #message-send-block-form input[type=textarea]#input-message-send-textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

.container .lobby-section-block.side-block .side-block-box#message-block #message-send-block #message-send-block-form input[type=submit]#input-message-send-submit {
  color: white;
  border: none;
  background: #FEC93E;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .lobby-section-block.side-block .side-block-box#message-block #message-send-block #message-send-block-form input[type=submit]#input-message-send-submit:hover {
  cursor: pointer;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f8f8;
  padding: 0.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-rank {
  float: left;
  margin: 0;
  border-radius: 50%;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-rank img {
  max-width: 100%;
  max-height: 100%;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-name-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-name-avatar img.ranking-user-avatar {
  margin: 0 0.5rem;
  max-height: 100%;
  max-width: 100%;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-name-avatar p.ranking-user-name {
  margin: 0;
  font-size: 1.5rem;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-record {
  float: right;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-record p {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
}

.container .lobby-section-block.side-block .side-block-box#ranking-main-block #ul-ranking-users li .ranking-user-record img {
  height: 1.5rem;
  width: auto;
}

.container .lobby-section-block#center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .lobby-section-block#center-block #center-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.container .lobby-section-block#center-block #center-icon img {
  max-width: 100%;
  max-height: 100%;
}

.container .lobby-section-block#center-block #center-title {
  display: block;
  width: 15rem;
  height: auto;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background: gray;
  opacity: 50%;
  text-align: center;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.container .lobby-section-block#center-block .center-game-btn {
  display: none;
  width: 25rem;
  line-height: 3.5rem;
  display: block;
  text-align: center;
  border-radius: 1.5rem;
  margin: 1rem 0;
  font-size: 2rem;
  outline: none;
  border: none;
  background: #FEC93E;
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 0 5px 2px #F7A738;
          box-shadow: 0 5px 2px #F7A738;
  -webkit-transition: .2s;
  transition: .2s;
  margin: 1rem;
}

.container .lobby-section-block#center-block .center-game-btn:hover {
  background-position: right;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=lobby.css.map */