.login-container {
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.legend {
  margin-bottom: 1rem;
  font-size: 24px;
}

input {
  width: 100%;
  margin-bottom: 2rem;
  display: block;
  border: 1px solid black;
  border-radius: 3px;
  height: 1.5rem;
}

button.login {
  width: 100%;
  margin-bottom: 2rem;
  height: 2.5rem;
}

button.signup {
  width: 33%;
  height: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
